html,body
{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF; 
    font-family: 'Roboto', sans-serif; 
    color: black;
}

#header { background-color: #ebebea;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    } 

.navbar {
  height: 2000px;
  background: #ebebea;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms; 
  position: relative;
  top: -10px;
}

.navbar-open {
    clip-path: circle(150% at top right);
    top: 100%;
    width: 100%;
    height: 2000px;
    background: #ebebea;
    position: relative;
    top: -10px;
  }

  .navbar ul {
    list-style: none;
    text-align: center;
    font-size: 23px; 
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li a{
    color:#4d5f3d;
}




  .navbar a {
    
    display: block;
    padding: 1em 4em;
    text-decoration: none; 
  }
  
  .menu-toggle {
    padding-bottom: 1em;
    padding-top: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 1.6em;
    right: 0em;
    cursor: pointer; 
  }
  
  .menu-open .hamburger {
    transform: rotate(45deg);
  }
  
  .menu-open .hamburger::before {
    opacity: 0;
  }
  
  .menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: #4d5f3d;
    height: 3px;
    width: 1.75em;
    border-radius: 16px;
    transition: all ease-in-out 500ms;
  }
  .hamburger::before {
    transform: translateY(-6px);
  }
  .hamburger::after {
    transform: translateY(3px);
  }


.footer { background-color: #ebebea; padding: 20px; text-align: center; position: fixed; width: 100%; left: 0px; bottom:0; font-size: 15px; font-weight: bold;}



.reciclarte { text-align:center; font-size: 40px; margin-top: 200px;} 
.p1 { padding-left: 40px; padding-right: 40px; font-size: 20px;} 
.p2 { padding-left: 60px; padding-right: 40px; font-size: 20px;} 
.p3 { padding-left: 40px; padding-right: 40px; font-size: 30px;} 
.prueba1 {margin-bottom: 100px;}
.form {width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; background-color: #ebebea; max-width: 600px;margin-left: 640px; margin-top: 200px; opacity: 0.8; border-radius: 7px; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 600px; background-image: url("../img/Formulario-registro.png") ; margin-bottom: 100px;}
    .formulario {border-top: none; margin-top: 10px; margin-bottom: 10px;
        border-left: none;
        border-right: none;
        outline: none;
        font-weight: 500; border-radius: 7px; padding: 5px; }
    .boton { width: 100%;
        outline: none;
        border: none;

        background-color:#ebebea;;

        max-width: 150px;
        border-radius: 5px;  padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 500;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px; margin-left: 15px;
        cursor: pointer; }

.container-fluid {
  width: 1200px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form2 {
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; 
    background-image: url(../img/Fondo_iniciosesion.png);
    background-repeat: no-repeat;
    opacity: 0.8; 
    border-radius: 7px; 
    background-size: contain;
    background-position: center center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
  }

.aviso { background-color:#ebebea; width: 100%; max-width: 500px; padding: 5px; text-align: center; display: flex; justify-content: center;align-items: center; margin-left: 695px; 
    margin-top: 50px ; border-radius: 7px;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.boton2 { width: 100%;
    outline: none;
    border: none;
    background-color:#ebebea;
    max-width: 150px;
    border-radius: 5px;  padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; margin-left: 875px; margin-bottom: 50px; text-decoration: none; }
    .boton3 { width: 100%;
        outline: none;
        border: none;
        background-color:#ebebea;
        max-width: 250px;
        border-radius: 5px;  padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 500;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px; margin-left: 800px; margin-bottom: 50px; text-decoration: none; }
    .titulo-blog{
        text-align: center;
        margin-top: 200px;
        font-size: 40px;
       
    }
    .subtitulo-blog{
        font-size: 30px;
        text-align: center;
    }

    .centrar-img{
        display: flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .clase-img{
        margin-bottom: 100px;
    }

    .parrafo-contactos{
        text-align: center;
        font-size: 30px;
    }
    .bajar-parrafos{
        margin-top: 250px;
    }


    .telefono {width:30px; position: relative; top:5px; right: 5px;}
    .mail{width:30px; position: relative; top:5px; right: 5px;}
    .facebook {width:30px; position: relative; top:5px; right: 5px;}
    .instagram {width:30px; position: relative; top:5px; right: 5px;}
    .form-contacto{background-image: url("../img/Fondo.png");}
    .container {margin-top: 600px;}
    .img-thumbnail {width: 350px;}
    .noticias {position: relative; top: 120px; left:120px}
    .compostar { text-align: center; position: relative; top: 60px;}
    .ecologia { text-align: right;position: relative; right: 120px;}
    .sitios {text-align: center;}
    
    ul {
        list-style-position: inside;
    }

    .imagen-principal {
      margin-top: 100px;
    }
    
    
    .imagen-principal__contenido {
      height: 100%;
      width: 100%;
    }
     
   
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-top: 150px;
    }

    .inicio-blog {
      width: 50%;
    }

    @media (min-width: 947px){
        .menu-toggle {
          display: none;
      }
      
      #navbar {
        top: 40px;
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
        text-align: right;
        padding-right: 30px;
      }

      .navbar li {
          display: inline-block;         
      }

      .navbar ul li a{
        color:#4d5f3d;
    }
    
      
      .navbar a {
          padding: 0;
          margin-left: 3em;
          text-decoration: none;
      }
      
      .navbar a:hover,
      .navbar a:focus {
          background: transparent;
       }
      
       .navbar ul {
        font-size: 16px;
        text-align: right;
      }
      
    }
      
.titulo-registro {
  position: relative;
  top: 140px;
  text-align: center;
}
